@import '../theme/theme';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .grid {
    position: absolute;
    top: 25%;
    table #turn {
      color: $bg-m;
      font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
      .emphasis {
        color: $secondary;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 0.1rem 0.2rem;
      }
    }
    table td {
      border: 2px solid $border-color;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
    }
    table tbody tr {
      color: $secondary;
      font-weight: bold;
      text-align: center;
      font-size: 3.5rem;
      line-height: 1.85;
    }
  }
}
